body{
  background-color: rgb(37, 192, 231);
  margin: 0;
  padding: 0;
}
.main{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 margin-left: 30%;
}
.heading{
  font-size: 50px;
  margin-left: 50px;
}
form{
  margin-top: 50px;
  width: 400px;
}
form input{
  padding: 10px;
  width: 70%;
}

form button{
  padding: 10px;
  width: 20%;
  background-color: rgb(26, 111, 190);
  border: none;
}

.Result{
  margin-top: 50px;
  background-color: white;
  width: 300px;
  height: 200px;
  margin-left: 30px;
  padding: 10px;
  font-size: 20px;
  text-align: center;

}
.result-info{
  margin-top: 30px;
}
.city-name{
  font-size: 50px;
  color: aqua;
}
.temperature{
  font-size: 50px;
  color: rgb(253, 48, 93);
}
.note{
  width: 100%;
  background-color: white;
  margin-top: 14%;
  height: 29px;
}
.note p{
  font-size: 20px;
  text-align: center;
  
}